@model LMS_1_1.Models.Course
@section Scripts {
    <script src="~/clientapp/dist/runtime.js"></script>
    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>
    <script src="~/clientapp/dist/main.js"></script>
}

@using System.Text.RegularExpressions;
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/img/0_JLPdbimCEnWB8qJL.png" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">@Model.Name</h3>

                <h5 class="card-title">@Model.StartDate</h5>
                <p class="card-text">  @Model.Description</p>

            </div>

            @await Component.InvokeAsync("ClassUserList", new { CourseID = @Model.Id })
            @if (this.User.IsInRole("Teacher"))
            {
                <div class="card-body">
                    <a asp-controller="Modules" asp-action="CreateWithCourseid" asp-route-id="@Model.Id" class="card-link">Add Module</a>
                    <a asp-controller="Courses" asp-action="CourseStudent" asp-route-id="@Model.Id" class="card-link">Add Participant</a>
                </div>
            }
        </div>


        <div>


        </div>

    </div>
    <div class="col-md-6">

        @if (Model.Modules != null)
        {


            <div id="accordion">

                @foreach (var module in Model.Modules)

                {

                    string name = Regex.Replace(@module.Name, @"[\W_]+", string.Empty);
                    <div class="card">
                        <div class="card-header" id="@module.Id">
                            <h5 class="mb-0">


                                <div class="btn btn-link collapsed"
                                     data-target="#@name"
                                     aria-controls="@name"
                                     data-toggle="collapse"
                                     aria-expanded="false">

                                    @module.Name

                                </div>
                            </h5>
                        </div>

                        @if (module.LMSActivities != null)
                        {
                            <div id="@name" class="collapse" aria-labelledby="@module.Id" data-parent="#accordion">
                                <div class="card-body">
                                    <h4>Activities</h4>
                                    <ul class="timeline">

                                        @foreach (var activity in module.LMSActivities)
                                        {
                                            <li>
                                                <a asp-controller="LMSActivities" asp-action="Details" asp-route-id="@activity.Id">@activity.ActivityType.Name</a>
                                                <a href="#" class="float-right"> @activity.StartDate</a>
                                                <p>@activity.Description</p>
                                                <a asp-controller="LMSActivities" asp-action="Edit" asp-route-id="@activity.Id">Edit Activity</a>&nbsp;|&nbsp;
                                                <a asp-controller="LMSActivities" asp-action="Delete" asp-route-id="@activity.Id">Delete Activity</a>
                                            </li>
                                        }
                                    </ul>
                                    <a class="float-right" asp-controller="LMSActivities" asp-action="Create" asp-route-id="@module.Id">Add Activity</a>
                                </div>

                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-2">

    </div>
</div>


