@model LMS_1_1.Models.Course

@{
    ViewData["Title"] = "Index";
}
<style>

    .step {
        position: relative;
        padding: 10px;
        border-left: 5px solid rgb(122, 197, 228);
        position: relative;
        margin-left: 1em;
        padding-left: 2em;
    }

    step h2 {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border: 3px solid rgb(122, 197, 228);
        margin: 0;
        text-indent: 1em;
        color: rgb(122, 197, 228);
        font-weight: normal;
        font-size: 1.3em;
        margin-left: -1em;
    }

    .step h2::before {
        content: attr(data-step-id);
        border-radius: 2em;
        background-color: rgb(122, 197, 228);
        width: 2em;
        height: 2em;
        display: inline-block;
        position: absolute;
        left: -1.1em;
        top: 0;
        text-align: center;
        line-height: 2em;
        font-size: 1.2em;
        font-weight: normal;
        color: #EEEEEE;
        text-indent: 0;
    }

    .step.active h2 {
        background-color: rgb(122, 197, 228);
        color: #FFFFFF;
        font-weight: bold;
    }

        .step.active h2::before {
            border-right: 3px solid #FFFFFF;
        }

    .step::before {
        content: "";
        border: 0.8em solid transparent;
        border-top-color: rgb(122, 197, 228);
        border-top-width: 1.5em;
        position: absolute;
        display: inline-block;
        left: -0.9em;
        bottom: -0.9em;
    }

    .step.inactive {
        border-color: #bbbbbb;
    }

        .step.inactive::before {
            border-top-color: #bbbbbb;
        }

        .step.inactive h2 {
            color: #aaaaaa;
            border-color: #bbbbbb;
        }

            .step.inactive h2::before {
                background-color: #bbbbbb;
            }

    [class*='step']:last-of-type {
        border-color: transparent;
    }

        [class*='step']:last-of-type::before {
            content: none;
        }



    .step.active .back,
    .step.active .next {
        background-color: rgb(122, 197, 228);
        cursor: pointer;
        pointer-events: auto;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/img/0_JLPdbimCEnWB8qJL.png" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title"> @Html.DisplayFor(model => model.Name)</h3>

                <h5 class="card-title"> @Html.DisplayFor(model => model.StartDate)</h5>
                <p class="card-text">  @Html.DisplayFor(model => model.Description)</p>

            </div>

            @await Component.InvokeAsync("ClassUserList", new { CourseID = @Model.Id })
            @if (User.IsInRole("Teacher"))
            {
                <div class="card-body">
                    <a class="card-link" asp-controller="Modules" asp-action="Create">Add Module</a>

                    <a class="card-link" asp-area="Identity" asp-page="/Account/Register">Add Participant</a>

                </div>
            }
            </div>

       
        <div>


        </div>

    </div>
    <div class="col-md-8">

        @if (Model.Modules != null)
        {

            <div id="accordion">

                @foreach (var module in Model.Modules)

                {

                    <div class="card">
                        <div class="card-header" id="@module.Id">
                            <h5 class="mb-0">

                                <div class="btn btn-link collapsed"
                                     data-target="#@module.Name"
                                     aria-controls="@module.Name"
                                     data-toggle="collapse"
                                     aria-expanded="false">

                                    @module.Name

                                </div>
                            </h5>
                        </div>

                        @if (module.LMSActivities != null)
                        {
                            <div id="@module.Name" class="collapse" aria-labelledby="@module.Id" data-parent="#accordion">
                                <div class="card-body">
                                    @foreach (var activity in module.LMSActivities)
                                    {
                                        <div class="step">
                                            <h2 data-step-id=""> &nbsp; @activity.ActivityType.Name</h2>
                                            <p>&nbsp; @activity.Description</p>

                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>

</div>



