@model LMS_1_1.Models.Course

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/img/0_JLPdbimCEnWB8qJL.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> @Html.DisplayFor(model => model.Name)</h5>
                <h5 class="card-title"> @Html.DisplayFor(model => model.StartDate)</h5>
               
                <p class="card-text">  @Html.DisplayFor(model => model.Description)</p>
            </div>
            <ul class="list-group list-group-flush">
                @await Component.InvokeAsync("ClassUserList", new { CourseID = @Model.Id })
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Add Module</a>
                <a href="#" class="card-link">Add Participant</a>
            </div>
        </div>
      
        <div></div>
        <div>

           
        </div>

    </div>
    <div class="col-md-8">
        @if (Model.Modules != null)
        {


            @foreach (var module in Model.Modules)
            {
                <a asp-controller="Modules" asp-action="Details" asp-route-id="@module.Id">
                    @module.Name
                </a><br />
                @if (module.LMSActivities != null)
                {
                    @foreach (var activity in module.LMSActivities)
                    {
                    <a asp-controller="LMSActivities" asp-action="Details" asp-route-id="@activity.Id">
                        &nbsp; &nbsp;  @activity.ActivityType.Name
                    </a><br />
                    }
                 }
                }
            }
        </div>

</div>



